@media (min-width: 1313px) {
    
    /* ------------------- GENERAL FORMATTING ------------------- */
    main {
        padding: 10vw 18vw;
    }

    h2 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    section {
        margin-bottom: 0;
        padding-top: 175px;
        /* margin-bottom: 10%; */
        /* border: 1px solid black; */
    }

    section:first-child {
        padding-top: 0;
    }

    section:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }


    /*------------------- NAVBAR -------------------*/
    #navbar {
        height: 75px;
        justify-content: space-between;
      
    }

    #fullLogo{
        margin-left: 20px;
        width: 350px;
        /* margin: 5px 0 0 20px; */
        vertical-align: center;
    }

    #navbar nav {
        width: calc(3.6rem + 5.7rem + 3.7rem + 4.9rem + 1.5rem*3);
        padding: 10px 1.5rem;
        height: 30px;
    }

    #navbar ul{
        grid-template-columns: 3.6rem 5.7rem 3.7rem 4.9rem;
        grid-column-gap: 1.5rem;
    }

    #navbar li{
        /* border: 1px solid black; */
        line-height: 1.25rem;
    }

    #navbar a {
        font-size: 1.25rem;
    }
    

    /* ------------------- SPLASH BOX ------------------- */
    #splashBox {
        /* border: 1px solid black; */
        height: calc(100vh - 275px);
        margin-top: -150px;
    }

    h1 {
        font-size: 17vh;
        margin-top: 4vh;
        margin-bottom: 13vh;
    }

    #splashBox p {
        font-size: 4vh;
        line-height: 5vh;
        text-indent: -4vh;
        padding-left: 5vh;
        margin-bottom: 10vh;
        font-weight: 300;
        width: 100%;
    }


    #scrollButton {
        font-size: 1.6rem;
        padding: 14px 20px;
        margin-left: 5vh;
    }

    #scrollButton span {
        font-size: 1.7rem;
        margin-left: 4.5px;
    }
    /* ------------------- Back to Top Button -------------------*/
    #backToTopContainer{
        position: fixed;
        bottom: 4vh;
        right: 2vw;
        width: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 5;
        /* background-color: lightblue; */
    }

    #bttText{
        font-size: 15px;
        margin: 0 0 15px 0;
        width: 100px;
        text-align: center;
        font-weight: 300;
        color: rgb(145, 145, 145);
        /* background-color: gray; */
    }

    #circle{
        margin-left: 11px;
        padding-top: 6px;
        background-color: var(--baseYellow);
        height: 75px;
        width: 75px;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 5px 5px 25px -2px #c0c0c0;
        transition: height 0.5s ease-in-out, width 0.5s ease-in-out, padding 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    #circle:hover{
        height: 80px;
        width: 80px;
        padding-top: 8px;
    }

    #arrow{
        text-decoration: none;
        font-size: 75px;
        font-family: helvetica;
        font-weight: 700;
        color: black;    
    }

    /* ------------------- PORTFOLIO ------------------- */
    #portfolio{
        padding-top: 125px;
    }

    #portfolio h2{
        margin-bottom: 50px;
    }

    #portfolioContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 700px;
        grid-template-rows: auto;
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        margin-top: 0;
    }

    .projects {
        margin-bottom: 0;
    }
    .projectTitle {
        font-size: 2.2rem;
    }

    .projectLangs{
        font-size: 0.9rem;
    }

    .projectDescription {
        margin-top: 1rem;
        font-size: 1.05rem;
        line-height: 1.9rem;
    }


    /* ------------------- ABOUT ME ------------------- */
    #aboutMe{
        padding-top: 150px;
    }

    #aboutMe p{
        margin-bottom: 60px;
        font-size: 0.8rem;
    }

    #aboutMe p,
    li {
        font-size: 2rem;
        line-height: 3.5rem;
        font-weight: 200;
    }

    h3 {
        font-size: 2.5rem;
        margin-bottom: 3%;
    }

    .langs {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5vw;
        box-sizing: border-box;
    }

    h4 {
        font-size: 2rem;
    }

    #my-exerience ul {
        margin-left: 0;
        padding-left: 0;
    }

    .langsContents {
        padding: 7%;
        box-shadow: 7px 7px 0px var(--drkYellow);
        box-sizing: border-box;
    }


    /* ------------------- CONTACT FORM ------------------- */
    #contactForm {
        width: 70%;
        padding: 4%;
    }

    #contactForm label {
        font-size: 1.5rem;
        margin-bottom: 0;
        margin-left: 1%;
    }

    .formField{
        font-size: 1.3rem;
        padding: 1.4% 2%;
        margin: 1.5% 0 5% 0;
    }

    .formField:focus {
        box-sizing: content-box;
        outline: 3px solid var(--drkYellow);
    }

    #submitButton {
        font-size: 1.5rem;
        padding: 12px 20px;
        margin-top: 3%;
        width: 8.4rem;
    }

    /* ------------------- FOOTER ------------------- */
    footer {
        height: 10rem;
        padding: 4% 20% 2% 20%;
        margin-top: -90px;
    }

    footer nav {
        padding: 0 30%;
    }

    footer ul{
        display: grid;
        grid-template-columns: 3.7rem 6.5rem 3.9rem 5.3rem;
        grid-column-gap: 2rem;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: baseline;
        width: calc(3.7rem + 6.5rem + 3.9rem + 5.3rem + 2rem*3);
        /* border: 1px solid black; */
    }

    footer li{
        display: inline-block;
        vertical-align: baseline;
        text-align: center;
        line-height: 0.9rem;
        /* border: 1px solid black; */
    }

    footer a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.4rem;
    }

    #copyright {
        font-size: 1rem;
        margin-top: 2rem;
    }
}
