
/* ------------------- GENERAL ------------------- */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --drkYellow: #ffbf47;
    --baseYellow: #ffcd70;
    --ltYellow: #ffe2ad;
    --serifFont: 'Azeret Mono', 'Consolas', monospace;
    --sansSerifFont: "Manrope", Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: var(--serifFont);
    width: 100%;
    box-sizing: border-box;
}

main {
    box-sizing: border-box;
    margin: 0;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
}

/* section headers */
h2 {
    font-family: var(--sansSerifFont);;
    font-weight: 900;
    font-style: normal;
    font-size: 45pt;
    line-height: 115%;
    margin: 0 0 40px 0;
}

.headingAnimation{
    animation-name: slideIn;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideIn{
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


section{
    margin: 0;
    padding: 175px 0 0 0;
}

a:hover,
a:active,
button:hover,
button:active {
    cursor: pointer;
}

.accent{
    color: var(--baseYellow)
}

/* ------------------- NAV BAR ------------------- */
#menuIcon{
    display: none;
}

#hamburgerNav{
    display: none;
}

#navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    margin: 0;
    padding: 20px 0 20px 17px; 
    z-index: 2;
    border-bottom: 2px solid black;
    height: auto;
}

#extraUnderline{
    width: calc(100% + 10px);
    background-color: #ffbf47;
    height: 1px;
    position: fixed;
    top: 80px;
    left: -10px;
    z-index: 2;
}

#headerFullLogo{
    box-sizing: border-box;
    width: 250px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 5px;
    transition: transform 0.2s ease-in-out;
}

#headerFullLogo:hover{
    transform: scale(1.05);
}

#headerNav {
    width: auto;
    display: grid;
    grid-template-columns: 3.1rem 4.6rem 3.2rem 4.1rem 80px;
    grid-column-gap: 20px;
    margin: 0 20px -15px 0;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: var(--sansSerifFont);;
    font-size: 13pt;
    text-align: center;
    vertical-align: baseline;
    transition: background-color 0.3s ease-in-out;
}

header nav a:hover{
    background-color: var(--drkYellow);
}


header nav a div{
    background-color: var(--drkYellow); 
    height: 7px;
    margin-top: -8px;
    padding: 0;
    position: absolute;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
    width: auto;
}

/* #navbar a:visited{
    color: rgb(77, 77, 77);
} */

    #homeLink div{
        width: 3.1rem;
    }

    #portfolioLink div{
        width: 4.6rem;
    }

    #aboutLink div{
        width: 3.2rem;
    }

    #contactLink div{
        width: 4.1rem;
    }

    #resumeLink{
        font-family: var(--serifFont);
        font-size: 10pt;
        letter-spacing: 2px;
        font-weight: 300;
        border: 2px solid var(--baseYellow);
        padding: 3px 0 0 0 ;
        height: 20px;
    }

    #resumeLink:hover a{
        font-weight: 300;   
    }

    /* #resumeLink div{
        width: 4.1rem;
    } */


/* ------------------- SplashBox ------------------- */
#splashbox{
    margin-top: 80px;
    height: calc(100vh - 75px);
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-gap: 25px;
    padding-top: 0;
}

/* #hi_im_jennifer {
    width: 400px;
    position: relative;
    top: -100px;
} */

#introBox{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: var(--baseYellow);
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding: 0;
    margin-top: -100px;
}

.introWords{
    box-sizing: border-box;
    margin: 0 auto 0 0;
    font-size: 50pt;
    font-weight: 300;
    position: relative;
    top: -53px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 5px;
    text-align: left;
    border-right: 4px solid black;
    animation: 
        type 7s steps(16) infinite,
        cursorBlink 0.75s step-end infinite;
}

@keyframes type {
    0%,
    15%,
    100% {
        width: 1%
    }

    45%,
    70% {
        width: 100%
    }
}

@keyframes cursorBlink{
    0% {border-right-color: black;}
    40% {border-right-color: black;}
    60% {border-right-color: transparent;}
    100% {border-right-color: transparent;}
}


#checkItOut{
    margin: 0 0 0 -20px;
    padding: 0;
    font-weight: 300;
    font-size: 0.80rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    writing-mode: vertical-lr;
    position: relative;
    top: 600px;
    transform: rotate(180deg);
    transition: font-weight 0.2s ease-in-out, transform 0.3s ease-in-out;
}

#checkItOut span{
    color: var(--drkYellow);
    font-weight: 900;
    font-size: 1rem;
}

#checkItOut:hover,
#checkItOut:active,
#checkItOut:focus{
    /* font-weight: 700; */
    transform: scale(1.075) rotate(180deg);
}

#verticalLine{
    width: 1.4px;
    height: 600px;
    background-color: black;
    margin: 0;
    padding: 0;
}

#splashList{
    appearance: none;
    -webkit-appearance: none;
    font-family: var(--sansSerifFont);
    font-size: 20pt;
    font-weight: 500;
    list-style-type: none;
    /* text-decoration: 2px underline black; */
    line-height: 55px;
    width: calc(100% / 2 - 2px - (125 * 2));
    padding: 0;
    margin: 0;
    position: relative;
    top: 140px;
}

#splashList li{
    appearance: none;
    -webkit-appearance: none;
    text-decoration: 2px solid underline black;
}

#splashList .accent{
    text-decoration: none;
}

#RectangleCircleOutline{
    width: 100px;
    position: absolute;
    top: 175px;
    right: 160px;
}

#CircleOutlineSolid1{
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 50px;
}

/* ---------Back to Top Button ------------*/
#backToTopContainer{
    position: fixed;
    bottom: 70px;
    right: 2.5vw;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 5;
    transition: opacity 0.2s ease-in-out;
    /* background-color: lightblue; */
}

#backToTopLink{
    text-decoration: none;
    color: black;
}

#circle{
    margin-left: 0px;
    padding: 10px;
    background-color: var(--baseYellow);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    /* box-shadow: 5px 5px 25px -2px #c0c0c0; */
    box-shadow: 3px 3px 0 rgb(105, 105, 105);
    transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
}

#arrow{
    text-decoration: none;
    width: 15px;
    transition: transform 0.3s ease-in-out
}
#circle:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 0 rgb(138, 137, 137);
    padding: 5px;
}

#circle:hover #arrow{
    transform: scale(1.1);
}


/* ------------------- Portfolio Section ------------------- */
#dots{
    width: 75px;
    position: absolute;
    left: 87vw;
    bottom: -190px;
}

#portfolio h2{
    margin-bottom: 65px;
}

#portfolioContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 7vw;
    grid-row-gap: 5vw;
}

.projectLabel{
    font-size: 22pt;
    font-weight: 300;
    position: relative;
    bottom: 37px;    
}


.projects{
    border: 1px solid black;
    margin: 0;
    width: 1fr;
    height: auto;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100%;
    box-shadow: 10px 10px 0 rgb(105, 105, 105);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projects:hover{
    transform: scale(1.075);
    box-shadow: 15px 15px 0 rgb(150, 150, 150);
}

.projects:hover .infoContainer{
    opacity: 0.96;
    cursor: default;
}

.infoContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: opacity 0.4s ease-in-out;
    height: 100%;
    padding: 6%;
    box-sizing: border-box;
    opacity: 0;
    background: var(--baseYellow);
    visibility: none;
    position: relative;
    bottom: 34px;
}

/* TODO: REMOVE THIS FOR PRODUCTION*/
#firstInfoContainer{
    visibility: visible !important;
    opacity: 0.95 !important;
}
    

.projectTitle {
    font-family: var(--sansSerifFont);;
    font-size: 30pt;
    font-weight: 800;
    margin: 0 0 15px 0;
    width: 100%;
    line-height: 110%;
}

.langsList{
    font-size: 11pt;
    letter-spacing: 3px;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 125%;
}

.projectDescription{
    font-family: var(--sansSerifFont);
    font-weight: 400;
    font-size: 11.75pt;
    line-height: 140%;
}

.functionalities{
    font-weight: 600;
}

.linksContainer{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: right;
    margin-top: 10px;
    opacity: 0.85;    
}

.linkBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    box-sizing: border-box;
    text-decoration: none;
}

.githubLink{
    margin-left: 10px;
}

.linkIcon{
    transition: transform 0.2s ease-in-out;
}

.linkBox:hover .linkIcon{
    transform: scale(1.2);
}

.viewLiveIcon{
    width: 28px;
    margin-right: 7px;
}

.githubIcon{
    width: 24px;
    margin-left: 7px;
}

/* .linksLabelDiv{
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
    margin: 5px 0 0 0 ;
} */
/* 
.viewLiveLink .linksLabelDiv{
    margin-right: 5px;
}

.githubLink .linksLabelDiv{
    margin-left: 5px;
} */

.triangle{
    height: 20.5px;
    margin: 0;
    padding: 0;
    position: static;
}

.linkText{
    font-family: var(--serifFont);
    font-weight: 300;
    font-size: 7.5pt;
    background-color:rgb(0, 0, 0);
    color: white;
    padding: 5.25px 9px 5px 9px;
    margin: 0;
    line-height: 100%;
}


/*ScheduleBooker background*/
.projects:nth-child(1){
    background-image: url('Assets/portfolioImgs/scheduleBooker_customers.png');
    background-size: cover;
    background-position: center;
}

/*TermTracker background*/
.projects:nth-child(2){
    background-image: url('Assets/portfolioImgs/termTrackerImg.png');
    background-size: cover;
    background-position: center;
}


/*Luma background*/
.projects:nth-child(3){
    background-image: url('Assets/portfolioImgs/Luma.png');
    background-size: cover;
    /* background-position: center; */
}

/*Weather-Checker background*/
.projects:nth-child(4){
    background-image: url('Assets/portfolioImgs/weatherAppScreenshot.png');
    background-size: cover;
}

#CircleOutlineSolid2{
    width: 100px;
    position: relative;
    /* top: 2250px; */
    top: 75px;
    left:-7vw;
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
    display: inline-block;
}
/* ------------------- ABOUT SECTION ------------------- */

#aboutParagraph{
    font-size: 14pt;
    font-weight: 200;
    line-height: 3rem;
    /* letter-spacing: 2px; */
    margin: 0;
    padding: 0;
}

#arrows{
    height: 95px;
    display: inline;
    margin-top: 20px
}

#wavyArrows{
    display: none;
}

h3{
    font-family: var(--sansSerifFont);;
    font-size: 2.25rem;
    font-weight: 800;
    margin: 0 0 40px 0;
    display: flex;
    justify-content: center;
}

/* .stackSubHeading{
    appearance: none;
    -webkit-appearance: none;
    font-family: var(--sansSerifFont);;
    font-size: 16pt;
    font-weight: 600;
    text-decoration: black solid underline 2px;
    margin: 0 0 7px 0.6rem;
} */

#langBoxWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#langs{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 0px; */
    width: 780px;
    margin: 0;
    /* border: 2px solid black; */
    position: relative;
    z-index: 0;
}

.stackWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    margin: 25px 40px;
    height: 120px;
    position: relative;
    z-index: 2;
    /* width: 400px; */
    /* text-shadow: 1px 1px 0px var(--baseYellow); */
}

.stackWrapper:last-of-type{
    margin-bottom: 40px
}


.stackWrapper p{
    margin: 20px 0 0 0;
    font-weight: 400;
}

/* .stackLogos{
    height: 60px;
} */


#javaLogo{
    width: 65px;
}

#jsLogo, #htmlLogo, #cssLogo{
    width: 50px;
}

#nodeLogo{
    width: 170px;
}

#expressLogo{
    width: 140px;
}

#pythonLogo{
    width: 60px;
}

#sqlLogo{
    width: 115px;
}

#mongoDBlogo{
    width: 200px;
}

.bracketDiv{
    border: 3px solid black;
    width: 50px;
}


.bracketDiv:first-of-type{
    border-right: none;
    box-shadow: -5px 5px 0px var(--baseYellow);
    margin-right: -4%;
}

.bracketDiv:last-of-type{
    border-left: none;
    box-shadow: 5px 5px 0px var(--baseYellow);
    margin-left: -4%;
}


#resumeSection{
    padding-top: 125px;
}

#resumeHeader{
    margin-bottom: 20px;
}

#pdfBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5px 0 20px 0;
}

#resumePDFLink{
    appearance: none;
    color: black;
    font-weight: 400;
    text-decoration: 2px solid underline var(--drkYellow) !important;
    /* transition: font-weight 0.2s ease-in-out; */
}

#openNewTab_icon{
    width: 14px;
    margin: 0 0 0 8px;
}

#resumePDFLink:hover{
    text-decoration: 2.5px solid underline var(--drkYellow);
    font-weight: 500;
}

#resume{
    border: 2px solid black;
    box-shadow: 10px 10px 0 var(--baseYellow);
    padding: 4%;
    width: 800px;
    margin: 0 auto;
}

/* #resumeScreenshot{
    width: 800px;
} */

/* .viewSDK_hideOverflow{
    padding: 0;
    margin: 0;
} */

#resume h5{
    font-family: var(--sansSerifFont);;
    font-weight: 900;
    font-size: 18pt;
    margin: 30px 0 5px 0;
}

#resume #firstResumeHeader{
    margin-top: 0px;
}

#resumeFlexBox{
    display: flex;
    flex-direction: row;
}

#certificationsBox{
    width: 40%;
}

#skillsBox{
    width: 60%;
}

.resumeUnderline{
    background-color: var(--baseYellow);
    height: 10px;
    position: relative;
    z-index: -1;
    top: -16px;
    margin-bottom: -20px;
}


#eduBox .resumeUnderline{
    width: 123px;
}

#projectsBox .resumeUnderline{
    width: 105px;
}

#workExperienceBox .resumeUnderline{
    width: 199px;
}

#certificationsBox .resumeUnderline{
    width: 167px;
    margin-bottom: -5px;
}

#skillsBox .resumeUnderline{
    width: 67px;
    margin-bottom: -5px;
}


.resumeSubheader{
    font-family: var(--sansSerifFont);;
    font-weight: 700;
    font-size: 13pt;
    margin: 15px 0 5px 0;
}

.resumeSubtitle{
    font-family: var(--serifFont);
    letter-spacing: 1.5px;
    font-size: 9pt;
    font-weight: 200;
    margin: 0 0 6px 0;
}

#resume ul{
    list-style: none;
    margin: 0 0 0 19px;
    padding-left: 0;
}

#resume li:before{
    content: "—";
    padding: 0 7px 0 0;
    margin: 0;
}

#resume li{
    font-family: var(--sansSerifFont);
    font-weight: 400;
    font-size: 11pt;
    padding: 0 0 0 10;
    text-indent: -19px;
    margin: 0 0 6px 0;
}

/* ------------------- CONTACT ------------------- */
/* #contact{
    height: 700px;
} */

#contact h2{
    margin-bottom: 60px;
}

#contactDiv{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.contactP{
    font-size: 16pt;
    margin: 0 0 20px 0;
}

.contactSubDivs{
    box-sizing: border-box;
    padding: 30px;
    background-color: var(--baseYellow);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactOutline{
    border: 2.5px solid black;
    height: 198px;
    margin-top: -215px;
    pointer-events: none;
}

#onTheWebDiv{
    width: 500px;
}

#onTheWebOutline{
    width: 497px;
    margin-left: -15px;
    
}

#sendMeAMsgDiv{
    width: 500px;
    margin: 0 0px 0 60px;
}

#sendMeAMsgOutline{
    width: 497px;
    margin-left: 45px;
}

.socialIconsDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.socialLinks{
    box-sizing: border-box;
    text-decoration: none;
    /* height: 34px;
    width: 34px; */
    background-clip: padding-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 0 2.5px;
}

.socialIcons{
    width: 40px;
    transition: transform 0.2s ease-in-out;
}

.socialIcons:hover{
    transform: scale(1.1);
}

#email{
    color: black;
    margin: 0;
    font-weight: 700;
    font-size: 16pt;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

#email:hover{
    transform: scale(1.05);
}



#contactForm{
    margin: 50px 0 0 0;
    background-color: var(--baseYellow);
    height: 600px;
    width: 75%;
    font-family: svar(--sansSerifFont);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 60px 60px 40px;
    position: relative;
    left: 25px;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

.formField{
    margin: 0.5rem 0 3rem 0;
    font-family: var(--serifFont);
    font-weight: 300;
    padding: 10px;
    color: black;
    background-color: var(--baseYellow);
    border: 2px solid black;
    font-size: 11pt;
    max-width: 100%;
    border-radius: 0%;
    transition: background-color 0.1s ease-in-out;
}

.formField:focus {
    box-sizing: content-box;
    outline: none;
    background-color: var(--drkYellow);
}

#message {
    resize: vertical;
    border-radius: 0%;
}

.formField:last-child {
    margin-bottom: 0;
}

.formField::placeholder {
    color: rgb(56, 55, 54);
    opacity: 1;
}

#contactForm label {
    font-weight: 700;
    font-size: 14pt;
    font-family: var(--sansSerifFont);;
}

#submitButton {
    appearance: none;
    -webkit-appearance: none;
    font-size: 14pt;
    text-align: center;
    font-family: var(--sansSerifFont);
    font-weight: 700;
    background-color: var(--baseYellow);
    padding: 0 0 2px 0;
    padding: auto;
    border: 2px solid black;
    margin-top: 2%;
    width: 100px;
    height: 50px;
    border-radius: 0%;
    transition: outline 0.2s ease-in-out, transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#submitButton:hover,
#submitButton:active,
#submitButton:focus {
    transform: scale(1.05);
    /* border: 3px solid black; */
    outline: 1px solid black;;
    /* background-color: var(--drkYellow); */
}

/* ------------------- FOOTER ------------------- */

footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
}


#footerOutline1{
    width: 96%;
    height: 100px;
    border: 2px solid black;
}

#footerOutline2{
    width: 100.2%;
    height: 103px;
    border: 2px solid black;
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 25px;
    box-sizing: border-box;
}

#footerFullLogo{
    width: 250px;
    transition: transform 0.2s ease-in-out;
}

#footerFullLogo:hover{
    transform: scale(1.05);
}

footer nav {
    display: grid;
    grid-template-columns: 50px 74px 52px 66px;
    grid-column-gap: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
    /* border: 1px solid black; */
}

footer nav a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: var(--sansSerifFont);;
    font-size: 12pt;
    text-align: center;
    vertical-align: baseline;
    transition: background-color 0.3s ease-in-out;
}


    #homeLink div{
        width: 3.1rem;
    }

    #portfolioLink div{
        width: 4.6rem;
    }

    #aboutLink div{
        width: 3.2rem;
    }

    #contactLink div{
        width: 4.1rem;
    }

footer nav a:hover{
    background-color: var(--drkYellow);
}

footer a div{
    transition: background-color 0.2s ease-in-out;
    background-color: var(--drkYellow); 
    height: 7px;
    margin-top: -8px;
    padding: 0;
    position: absolute;
    z-index: -1;
}