
/* ------------------- GENERAL ------------------- */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: museo-slab, 'Courier New', monospace;
    width: 100%;
    box-sizing: border-box;
}

:root{
    --drkYellow: #ffbf47;
    --baseYellow: #ffcd70;
    --ltYellow: #ffe2ad;
}

main {
    margin: 0;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    line-height: 2.3rem;
    margin: 0 0 40px 0;
}

section{
    margin: 0;
    padding: 200px 0 0 0;
}

a:hover,
a:active,
button:hover,
button:active {
    cursor: pointer;
}

.accent{
    color: var(--baseYellow)
}

/* ------------------- NAV BAR ------------------- */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 10px; 
    z-index: 2;
    border-bottom: 2px solid black;
}

#fullLogo{
    width: 325px;
    margin: 0;
    padding: 0;
}

#navbar nav {
    width: 323px;
    height: 20px;
    display: grid;
    grid-template-columns: 3.1rem 4.6rem 3.2rem 4.1rem;
    grid-column-gap: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
    /* border: 1px solid black; */
}

#navbar a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    vertical-align: baseline;
}

#navbar a:hover div,
#navbar a:active div,
#navbar a:focus div{
    background-color: var(--drkYellow); 
    height: 7px;
    margin-top: -8px;
    padding: 0;
    position: absolute;
    z-index: -1;
}

#navbar a:visited{
    color: rgb(77, 77, 77);
}

    #homeLink div{
        width: 3.1rem;
    }

    #portfolioLink div{
        width: 4.6rem;
    }

    #aboutLink div{
        width: 3.2rem;
    }

    #contactLink div{
        width: 4.1rem;
    }


/* ------------------- SplashBox ------------------- */
#splashbox{
    margin-top: 80px;
    height: calc(100vh - 75px);
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-gap: 25px;
    padding-top: 0;
}

#hi_im_jennifer {
    width: 400px;
    position: relative;
    top: -100px;
}

#checkItOut{
    margin: 0 0 0 -20px;
    padding: 0;
    font-weight: 300;
    font-size: 0.80rem;
    text-decoration: none;
    color: black;
    writing-mode: vertical-lr;
    position: relative;
    top: 600px;
    transform: rotate(180deg);
    transition: color 0.20s ease-in-out;
}

#checkItOut span{
    color: var(--drkYellow);
    font-weight: 900;
    font-size: 1rem;
}

#checkItOut:hover,
#checkItOut:active,
#checkItOut:focus{
    color: var(--drkYellow);
}

#verticalLine{
    width: 1.4px;
    height: 600px;
    background-color: black;
    margin: 0 0 0 0px;
    padding: 0;
}

#splashList{
    font-family: "Helvetica";
    font-size: 26px;
    list-style-type: none;
    text-decoration: 2px underline black;
    line-height: 55px;
    width: calc(100% / 2 - 2px - (125 * 2));
    padding: 0;
    margin: 0;
    position: relative;
    top: 140px;
}

#splashList .accent{
    text-decoration: none;
}

#RectangleCircleOutline{
    width: 100px;
    position: absolute;
    bottom: 72vh;
    left: 83vw;
}

#CircleOutlineSolid1{
    width: 100px;
    position: absolute;
    bottom:5vw;
}

/* ---------Back to Top Button ------------*/
#backToTopContainer{
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 5;
    /* background-color: lightblue; */
}

#circle{
    margin-left: 0px;
    padding-top: 5px;
    padding-left: 2px;
    background-color: var(--baseYellow);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 5px 5px 25px -2px #c0c0c0;
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out, padding 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: end;
}

#circle:hover{
    height: 60px;
    width: 60px;
    padding-top: 8px;
    padding-left: 1px;
}

#arrow{
    text-decoration: none;
    font-size: 50px;
    font-family: helvetica;
    font-weight: 500;
    color: black;    
}


/* ------------------- Portfolio ------------------- */
#dots{
    width: 75px;
    position: absolute;
    left: 87vw;
    bottom: -190px;
}

#portfolio h2{
    margin-bottom: 60px;
}

#portfolioContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 3vw;
    grid-row-gap: 3.70vw;
}

.projects{
    border: 1px solid black;
    margin: 0;
    width: 24vw;
    height: 24vw;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100%;
    box-shadow: 10px 10px 0 rgb(105, 105, 105);
    transition: transform 0.2s ease-in-out;
}

.infoContainer{
    transition: opacity 0.4s ease-in-out;
    height: 24vw;
    padding: 10%;
    box-sizing: border-box;
    opacity: 0;
    background: var(--baseYellow);
}

.projects:hover{
    transform: scale(1.075);
}

.projects:hover .infoContainer{
    opacity: 0.95;
    cursor: default;
}

.projects:nth-child(1){
    background-image: url(portfolio5_square.jpg);
}

.projects:nth-child(2){
    background-image: url(portfolio4_square.jpg)
}

.projects:nth-child(3){
    background-image: url(portfolio7_square.jpg)
}

.projects:nth-child(4){
    background-image: url(portfolio2_square.jpg)
}

.projects:nth-child(5){
    background-image: url(portfolio1_square.png)
}

.projects:nth-child(6){
    background-image: url(portfolio6_square.png)
}

.projectTitle {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.75rem;
    margin: 0;
}

.projectLangs{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.25rem;
    margin: 0.8rem 0 0.3rem 0;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-style: italic;
    /* letter-spacing: 1px; */
}

.projectDescription {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.5px;
    /* font-family: Helvetica, Arial, sans-serif; */
}
.linksContainer{
    margin-top: 2.7rem;
    border: 1px solid black;
    padding: 20px;
    width: 50%;
}

.projects a img{
    width: 16px;
    opacity: 0.6;
    vertical-align: middle;
    margin-right: 5px;
    /* border: 1px solid black; */
}

.projects a{
    display: block;
    justify-content: left;
    text-decoration: none;
    padding: 0;
    flex-wrap: nowrap;
    text-align: left;
    height: 18px;
    width: 100%;
    color: black;
    font-weight: 100;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    /* border: 1px solid black; */
}

.projects a:hover span,
.projects a:active span,
.projects a:focus span{
    color: black;
    text-decoration: underline solid 2.5px black;
}

.projects a:visited span{
    color: rgb(71, 71, 71);
    text-decoration: underline solid 2.5px  rgb(105, 105, 105);
}

.carrot{
    font-weight: 600;
}

.githubLink{
    width: 35%;
    margin: 0;
}

.viewLive{
    width: 23%;
    margin: 10px 0;
}

.learnMore{
    width: 29%;
}

#CircleOutlineSolid2{
    width: 100px;
    position: absolute;
    top: 2250px;
    left: 50px;
    transform: rotate(90deg);
}
/* ------------------- ABOUT ------------------- */

#aboutParagraph{
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 3rem;
    margin: 0;
    padding: 0;
}

#arrows{
    height: 95px;
    display: inline;
    margin-top: 20px
}

h3{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.25rem;
    margin: -50px 0 5.7rem 0;
    display: flex;
    justify-content: center;
}

h4{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: 100;
    text-decoration: black underline 1.5pt;
    margin: 0 0 0 0.6rem;
}

#langs{
    display: flex;
    justify-content: center;
    height: 350px;
    margin-top: -50px;
}

.langGroup{
    margin: 0 50px;
}

.langsContents{
    background-color: var(--baseYellow);
    box-sizing: border-box;
    width: 285px;
    height: 285px;
    padding: 75px;
    position: relative;
    z-index: -1;
    bottom: 308px;
    left: 16px;
    margin-top: 35px;
    /* border: 1px solid black; */
}

.langsContents ul{
    list-style-type: none;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2.6rem;
    margin: 0;
    padding-left: 0;
}

.borderSquare{
    border: 2.5px solid black;
    width: 282px;
    height: 282px;
    margin-top: -25px;
    margin-right: 13px;
    /* position: relative;
    z-index: 2;
    top: 310px;
    left: -20px; */
}

/* ------------------- CONTACT ------------------- */
#contact{
    height: 700px;
}

#contact h2{
    margin-bottom: 70px;
}

#contactOutline{
    border: 2px solid black;
    width: 75%;
    height: 600px;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    pointer-events: none;
    bottom: 622px;
    left: 5px;
}

#contactForm{
    background-color: var(--baseYellow);
    height: 600px;
    width: 75%;
    font-family: museo-slab, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 60px 60px 40px;
    position: relative;
    left: 25px;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

.formField{
    margin: 0.5rem 0 3rem 0;
    font-family: "museo-slab", sans-serif;
    font-weight: 300;
    padding: 10px;
    color: black;
    background-color: var(--baseYellow);
    border: 2px solid black;
    font-size: 1.1rem;
    max-width: 100%;
    transition: background-color 0.1s ease-in-out;
}

.formField:focus {
    box-sizing: content-box;
    outline: none;
    background-color: var(--drkYellow);
}

#message {
    resize: vertical;
}

.formField:last-child {
    margin-bottom: 0;
}

.formField::placeholder {
    color: rgb(62, 64, 66);
    opacity: 1;
}

#contactForm label {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
}

#submitButton {
    font-size: 1.1rem;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: var(--baseYellow);
    padding: 12px 10px;
    border: 2px solid black;
    margin-top: 2%;
    width: 100px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#submitButton:hover,
#submitButton:active,
#submitButton:focus {
    transform: scale(1.02);
    outline: none;
    background-color: var(--drkYellow);
}

/* ------------------- FOOTER ------------------- */

footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}


#footerOutline1{
    width: 96%;
    height: 100px;
    border: 2px solid black;
}

#footerOutline2{
    width: 100.2%;
    height: 103px;
    border: 2px solid black;
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 25px;
    box-sizing: border-box;
}

footer nav {
    display: grid;
    grid-template-columns: 3.1rem 4.6rem 3.2rem 4.1rem;
    grid-column-gap: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
    /* border: 1px solid black; */
}


footer a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    vertical-align: baseline;
}

    #homeLink div{
        width: 3.1rem;
    }

    #portfolioLink div{
        width: 4.6rem;
    }

    #aboutLink div{
        width: 3.2rem;
    }

    #contactLink div{
        width: 4.1rem;
    }

footer a:hover div,
footer a:active div,
footer a:focus div{
    background-color: var(--drkYellow); 
    height: 7px;
    margin-top: -8px;
    padding: 0;
    position: absolute;
    z-index: -1;
}

footer a:visited{
    color: rgb(77, 77, 77);
}

