@media (max-width: 1785px) {
    /*----------- splash box -----------*/
    .introWords{
        font-size: 40pt;
    }

    .splashlist{
        font-size: 18pt;
    }


    /*----------- Portfolio Section -----------*/
    .infoContainer{
        padding: 7%;
    }

    .projectTitle {
        font-size: 27pt;
    }

    .langsList{
        font-size: 9pt;
    }
}

@media (max-width: 1476px) {
    /*----------- splash box -----------*/
    #introBox{
        height: 70px;
    }

    .introWords{
        font-size: 35pt;
        top: -47px;
    }

    #splashList{
        font-size: 16pt;
    }

    /*----------- Portfolio Section -----------*/
    #portfolioContainer {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 6vw;
    }

    .projects{
        width: 35vw;
        height: 35vw;
        
    }

    .infoContainer{
        height: 35vw;
    }

    .projectTitle {
        font-size: 35pt;
        margin: 0 0 30px 0;
    }

    .langsList{
        font-size: 10pt;
    }

    .projectDescription{
        font-size: 9.5pt;
        margin: 20px 0 0px 0;
    }

    /*----------- Contact Section -----------*/
    #onTheWebDiv{
        width: 400px;
    }
    
    #onTheWebOutline{
        width: 397px;
        /* margin-left: -413px; */
    }
    
    #sendMeAMsgDiv{
        width: 400px;
    }
    
    #sendMeAMsgOutline{
        width: 397px;
        /* margin-left: -413px; */
    }
}

@media (max-width: 1270px) {
    /*----------- splash box -----------*/
    #splashbox{
        grid-template-areas: 
            'a a a'
            '. b c';
        grid-template-rows: 0.75fr 1.25fr;
        grid-template-columns: 0.75fr 40px 1.25fr;
        grid-gap: 0;
        padding: 0;
    }

    #introBox{
        grid-area: a;
        margin-bottom: -40%;
        justify-self: flex-start;
        height: 90px;
    }

    .introWords{
        font-size: 50pt;
    }

    #lineBox{
        grid-area: b;
        display: flex;
        align-content: flex-start;
        padding: 0;
        margin: 0;
    }

    #verticalLine{
        display: none;
    }

    #checkItOut{
        top: 20px;
        margin: 0;
        font-size: 12pt;
        border-left: 1.5px solid black;
        height: 40vh;
        letter-spacing: 2px;
    }

    #checkItOut span{
        font-size: 18pt;
        position: relative;
        left: 3px;
    }

    #splashList{
        box-sizing: border-box;
        grid-area: c;
        top: 20px;
        font-size: 18pt;
        line-height: 54pt;
        /* border-left: 1.5px solid black; */

    }

    #RectangleCircleOutline{
        top: 150px;
        right: 50px;
    }


    /* ------- Portfolio Section -------*/
    .projectTitle {
        font-size: 30pt;
        margin: 0 0 30px 0;
    }

    .langsList{
        font-size: 9pt;
    }

    .linkBox{
        padding: 1px 0;
    }

    .linkText{
        font-size: 7pt;
        padding: 4px 8px 4.25px 8px;
    }

    /* ------- About Section -------*/
    #arrows{
        width: 250px;
        /* margin-top: 20px */
    }

    #resume{
        width: 90%;
    }


    /* ------- Contact Section -------*/
    #onTheWebDiv{
        width: 300px;
    }
    
    #onTheWebOutline{
        width: 297px;
        /* margin-left: -313px; */
    }
    
    #sendMeAMsgDiv{
        width: 300px;
    }
    
    #sendMeAMsgOutline{
        width: 297px;
        /* margin-left: -313px; */
    }

    .contactP, #email{
        font-size: 12pt;
    }
}

@media (max-width: 1270px) {
    .linksContainer{
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .linkBox{
        padding: 0;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .linkBox:nth-of-type(2){
        padding: 0 12px 0 9px;
    }
    
    .linksLabelDiv{
        display: none;
    }

    .projects a{
        width: 21px;
        height: 21px;
    }
}

@media (max-width: 1075px) {
    /*----------- splash box -----------*/
    #splashbox{
        grid-template-columns: 0.3fr 50px 1.6fr;
    }

    .introWords{
        font-size: 45pt;
    }

    /* ------- Portfolio Section -------*/
    .projectTitle {
        font-size: 23pt;
        margin-bottom: 20px;
    }

    .projectLangs{
        margin: 0 0 5px 0;
    }

    .langsList{
        font-size: 8pt;
    }

    .projectDescription{
        font-size: 8pt;
    }

    /* .linkBox{
        padding: 0px;
    } */

    .projects a{
        height: 18px;
        width: 18px;
    }

    /* .linkText{
        font-size: 7.5pt;
        padding: 5px 8px 5px 8px;
    } */


    /* ------- About Section -------*/
    #arrows{
        width: 225px;
    }

    /* .resumeUnderline:nth-of-type(1)
    {
        width: 123px;
    }

    .resumeUnderline:nth-of-type(2)
    {
        width: 199px;
    }

    .resumeUnderline:nth-of-type(3)
    {
        width: 167px;
    }

    .resumeUnderline:nth-of-type(4)
    {
        width: 67px;
    } */


    /* ------- Contact Section -------*/
    #contactForm{
        width: 95%;
    }

    #contactOutline{
        width: 95%;
    }
}

@media (max-width: 870px) {
    /*----------- splash box -----------*/
    #introBox{
        align-self: flex-end;
        margin-bottom: 0;
        height: 75px;
    }

    .introWords{
        font-size: 35pt;
        letter-spacing: 0.7px;
    }

    #splashList{
        box-sizing: border-box;
        font-size: 16pt;
        width: 100%;
        padding: 0 0 0 10%;
    }

    #checkItOut{
        font-size: 10pt;
    }

    #CircleOutlineSolid1{
        bottom: -50px;
    }
    /* ------- Portfolio Section -------*/
    #portfolioContainer {
        grid-template-columns: 1fr;
        grid-row-gap:9vw;
    }

    .projects{
        width: 78vw;
        height: 78vw;
    }

    .infoContainer{
        height: 78vw;
    }

    .projectTitle {
        font-size: 45pt;
        margin: 0 0 50px 0;
    }

    .langsList{
        font-size: 12pt;
    }

    .projectDescription{
        font-size: 12pt;
    }

    .projects a{
        width: 34px;
        height: 38px;
    }

    /* ------- About Section -------*/
    #aboutParagraph{
        font-size: 12pt;
    }
    
    #arrows{
        width: 30%;
        margin-top: 20px
    }


    .langGroup:first-of-type{
        margin: 0 2.5% 0 0;
    }

    .langGroup:last-of-type{
        margin: 0 0 0 2.5%;
    }

    .borderSquare{
        width: 250px;
        height: 250px;
        margin: 0;
    }

    .langsContents{
        width: 250px;
        height: 250px;
        position: relative;
        top: -275px;
        padding: 18%;
    }

    #resumeFlexBox{
        display: flex;
        flex-direction: column;
    }
    
    #certificationsBox{
        width: 100%;
    }
    
    #skillsBox{
        width: 100%;
    }


    /* ------- Contact Section -------*/
    #contactDiv{
        justify-content: space-between;
        margin-left: 12px;
    }
    
    .contactSubDivs{
        height: 125px;
    }

    .contactOutline{
        height: 123px;
        margin-top: -135px;
    }
    
    #onTheWebDiv{
        width: 200px;
        margin: 0;
    }
    
    #onTheWebOutline{
        width: 197px;
        margin-left: -10px;
    }
    
    #sendMeAMsgDiv{
        width: 275px;
        margin: 0;
    }
    
    #sendMeAMsgOutline{
        width: 273px;
        margin-left: -10px;
    }

    .contactP, #email{
        font-size: 11pt;
    }

    .socialIcons{
        width: 30px;
    }

}

@media (max-width: 660px) {
    /* ------- Mobile Nav -------*/
    #navbar{
        align-items: center;
        padding: 20px;
        height: auto; 
    }

    #navbar nav{
        display: none;
    }
    
    #menuIcon{
        display: inline;
        width: 35px;
        padding-right: 5px;
        top: 0;
        cursor: pointer;
        margin: 0 0 0 20px;
    }

    #hamburgerNav{
        position: fixed;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        top: 10px;
        right: 10px;
        padding: 20px;
        margin: 0;
        border: 2px solid black;
        width: 90px;
        height: auto;
        background-color: white;
        box-shadow: 10px 10px 0 rgb(105, 105, 105);
        z-index: 4;
    }

    #hamburgerNav a{
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-family: var(--sansSerifFont);
        font-size: 14pt;
        text-align: left;
        vertical-align: baseline;
        width: 100%;
        position: relative;
        z-index: 2;
        margin: 0;
        /* line-height: 200%; */
    }

    #hamburgerNav a:nth-of-type(2){
        padding: 20px 0 10px 0;
    }

    #hamburgerNav a:nth-of-type(3){
        padding: 10px 0 20px 0;
    }

    #hamburgerNav a:nth-of-type(4){
        padding: 0px 0 20px 0;
    }

    #hamburgerNav div{
        /* background-color: var(--drkYellow);  */
        height: 7px;
        top: -2px;
        padding: 0;
        position: relative;
        /* z-index: -1; */
        transition: opacity 0.3s ease-in-out;
    }

        #hamHomeUnderline{
            width: 53px;
        }

        #hamPortfolioUnderline{
            width: 81px;
        }

        #hamAboutUnderline{
            width: 54px;
        }

        #hamContactUnderline{
            width: 73px;
        }

        #hamburgerNav #hamResumeLink{
            font-family: var(--serifFont) !important;
            font-size: 11pt;
            letter-spacing: 2px;
            font-weight: 300;
            border: 2px solid var(--baseYellow);
            text-align: center;
            padding: 2px;
        }
    
        #hamburgerNav #hamResumeLink:hover a{
            font-weight: 300;   
        }

    /*----------- splash box -----------*/
    #introBox{
        height: 65px;
    }

    .introWords{
        font-size: 25pt;
        letter-spacing: 0.9px;
        top: -45px;
    }

    #splashList{
        font-size: 14pt;
        line-height: 125%;
    }

    #splashList li:nth-of-type(2){
        padding: 45px 0;
    }

    #checkItOut{
        font-size: 9pt;
    }

    #checkItOut span{
        font-size: 20pt;
        left: 2px;
    }


    /* ------- Back To Top -------*/
    #backToTopContainer{
        bottom: 2.5vw;
    }

    /* ------- Portfolio Section -------*/
    .projectTitle {
        font-size: 30pt;
        margin-bottom: 25px; 
    }

    .langsList{
        font-size: 10pt;
    }

    /* .linkBox{
        padding: 1px;
    } */

    /* .linkText{
        font-size:8pt;
        padding: 5px 8px 5px 8px;
    } */

    .projectDescription{
        font-size: 10pt;
    }

    .projects a{
        width: 24px;
        height: 28px;
    }

    /* ------- About Section -------*/
    /* #aboutParagraph{
        font-size: 12pt;
        line-height: 200%;
    } */
    
    #arrows{
        display: none;
    }

    #wavyArrows{
        display: block;
        width: 150px;
        margin: 20px 0 20px 0;
    }
    
    h3{
        font-size: 20pt;
        margin-top: 5px;
    }

    .stackWrapper{
        height: 130px;
        margin: 20px 30px;
    }

    #javaLogo{
        width: 60px;
    }
    
    #jsLogo, #htmlLogo, #cssLogo{
        width: 40px;
    }
    
    #nodeLogo{
        width: 155px;
    }
    
    #expressLogo{
        width: 125px;
    }
    
    #pythonLogo{
        width: 45px;
    }
    
    #sqlLogo{
        width: 100px;
    }
    
    #mongoDBlogo{
        width: 175px;
    }
    /* #langs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: calc(2 * 250px + 100px);
        margin-top: -5px;
    }

    .langGroup{
        margin: 0 0 0 0;
        padding: 0;
        height: 250px;
        width: 100%;
        padding: 0 25%;
    }

    .langGroup:first-of-type{
        margin: 0 0 5% 0;
    }

    .langGroup:last-of-type{
        margin: 5% 0 0 0;
    }

    .borderSquare{
        margin: 0;
    }

    #resume ul{
        list-style-position: outside;
        padding-left: 5%;
    } */

    /* .resumeUnderline:nth-of-type(1)
    {
        width: 123px;
    }

    .resumeUnderline:nth-of-type(2)
    {
        width: 199px;
    }

    .resumeUnderline:nth-of-type(3)
    {
        width: 167px;
    }

    .resumeUnderline:nth-of-type(4)
    {
        width: 67px;
    } */


    /* ------- Contact Section -------*/
    #contactDiv{
        flex-direction: column;
    }

    /* .contactSubDivs{
        height: 125px;
    } */

    /* .contactOutline{
        height: 123px;
        margin-top: -135px;
    } */
    
    .contactWrapper:first-of-type{
        margin-bottom: 50px;
    }

    #onTheWebDiv{
        width: 100%;
        margin: 0;
    }
    
    #onTheWebOutline{
        width: 99%;
        margin-left: -10px;
    }
    
    #sendMeAMsgDiv{
        width: 100%;
        margin: 0;
    }
    
    #sendMeAMsgOutline{
        width: 99%;
        margin-left: -10px;
    }

    /* .contactP, #email{
        font-size: 11pt;
    }

    .socialIcons{
        width: 30px;
    } */


    /* ------- Footer -------*/
    #footerOutline1{
        height: 150px;
    }
    
    #footerOutline2{
        height: 153px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }

    footer nav{
        margin: 0 45% 5px 45%;
        grid-template-columns: 60px 88px 64px 80px;
        grid-column-gap: 20px;
    }

    footer nav a{
        font-size: 14pt;
    }

    #footerFullLogo{
        width: 250px;
        padding: 10px 10px 0 10px
    }
    
}

@media (max-width: 528px) {
    /*----------- General -----------*/
    main{
        padding: 5vw;
    }

    section{
        padding-top: 115px;
    }

    section:last-of-type{
        margin-bottom: -50px;
    }
    
    h2{
        font-size: 30pt;
        margin-bottom: 15px;
    }

    #portfolio h2{
        margin-bottom: 25px;
    }

    #contact h2{
        margin-bottom: 60px;
    }
    
    /*----------- nav bar -----------*/
    #headerFullLogo{
        min-width: 100px;
        max-width: 200px;
        margin-top: -5px;
    }

    #menuIcon{
        padding-right: 0px;
    }

    #extraUnderline{
        top: 70px;
    }

    /*----------- Back To Top Button -----------*/
    #backToTopContainer{
       right: 10px;
    }
    
    #circle{
        width: 40px;
        height: 40px;
    }

    #arrow{
        width: 11px;
    }

    #circle:hover{
        height: 45px;
        width: 45px;
        padding: 5px;
    }
    
    #circle:hover #arrow{
        width: 15px;
    }

    /*----------- splash box -----------*/
    #splashbox{
        width: 100%;
        grid-template-areas: 
            'a a'
            'b c';
        grid-template-columns: 30px 100%;
        grid-template-rows: 0.55fr 1.45fr;
    }
    
    #introBox{
        /* height: 12vw; */
        height: auto;
        margin-bottom: 20px;
    }

    .introWords{
        font-size: 20pt;
        border-right: 2px solid black;
        top: -19px;
        letter-spacing: 0.75px;
        line-height: 115%;
    }

    #lineBox{
        justify-self: flex-end;
        align-self: flex-start;
        margin: 50px 0 0 0;
    }

    #checkItOut{
        font-size: 9pt;
        top: 0px;
        left: 0px;
        margin: 0;
        border-left: 1.5px solid black;
        height: 35vh;
        letter-spacing: 2px;
    }

    #checkItOut span{
        font-size: 15pt;
        left: 1.75px;
    }

    #splashList{
        font-size: 12pt;
        width: 90%;
        padding-left: 30px;
        align-self: flex-start;
        margin: 100px 0 0 0;
    }

    #RectangleCircleOutline{
        width: 50px;
        top: 100px;
        right: 10px;
    }

    #CircleOutlineSolid1{
        width: 50px;
        bottom: -7vh;
        left: 35px;
        z-index: -1;
    }

    /*----------- Portfolio -----------*/
    #dots{
        width: 50px;
        left: auto;
        right: 10px;
        bottom: -100px;
    }

    #CircleOutlineSolid2{
        width: 60px;
        left: 5px;
        top: 40px;
    }

    .projects{
        width: 83vw;
        height: 83vw;
        
    }

    .projects:hover{
        transform: scale(1.035) translateX(5px) ;
    }

    .infoContainer{
        height: 83vw;
    }

    .projectTitle{
        font-size: 20pt;
        margin: 0 0 20px 0;
    }

    .langsList{
        font-size: 8pt;
    }

    .projectDescription{
        font-size: 8pt;
    }
/* 
    .linkBox{
        padding: 1px 0;
    } */


    .projects a{
        width: 20px;
        height: 25px;
    }
    /*----------- About Me -----------*/
    #aboutParagraph{
        /* font-size: 12pt; */
        line-height: 225%;
    }

    h3{
        font-size: 20pt;
        margin-bottom: 15px;
        margin-top: 0;
    }

    #langs{
        flex-direction: column;
        width: 80%;
    }

    .bracketDiv:first-of-type{
        /* box-shadow: -5px 5px 0px var(--baseYellow); */
        margin-right: -15%;
    }
    
    .bracketDiv:last-of-type{
        /* box-shadow: 5px 5px 0px var(--baseYellow); */
        margin-left: -15%;
    }

    .stackWrapper{
        height: 150px;
        margin: 30px 0px;
        justify-content: center;
    }

    .shortStackLogo{
        height: 120px;
        margin-top: 20px;
    }

    .stackWrapper:first-of-type{
        /* height: 150px; */
        margin-top: 40px;
    }

    #javaLogo{
        width: 80px;
    }
    
    #jsLogo, #htmlLogo, #cssLogo{
        width: 70px;
    }
    
    #nodeLogo{
        width: 160px;
    }
    
    /* #pythonLogo{
        width: 35px;
    } */
    
    #mongoDBlogo{
        width: 180px;
    }

    #sqlLogo{
        width: 110px;
    }
    
    #expressLogo{
        width: 150px;
    }
    
    /* #langs{
        height: 450px;
        width: 230px;
        flex: wrap;
        margin: 0 auto;
    }
    
    .langGroup{
        margin: 0;
        padding: 0;
        height: 200px;
        width: 200px;
        padding: 0;
    }

    .langGroup:first-of-type{
        margin: 0 0 5% 0;
    }

    .langGroup:last-of-type{
        margin: 5% 0 0 0;
    }

    .langsContents{
        width: 200px;
        height: 200px;
        top: -224px;
    }

    .stackSubHeading{
        font-size: 16pt;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .langsContents ul{
        font-size: 10pt;
        line-height: 200%;
        letter-spacing: 1.5px;
    }

    .borderSquare{
        margin: 0;
        height: 200px;
        width: 200px;
    } */
    
    #resume{
        width: 90%;
    }


    #resume h5{
        font-size: 16pt;
    }

    .resumeUnderline:nth-of-type(1)
    {
        width: 110px;
    }

    .resumeUnderline:nth-of-type(2)
    {
        width: 180px;
    }

    .resumeUnderline:nth-of-type(3)
    {
        width: 150px;
    }

    .resumeUnderline:nth-of-type(4)
    {
        width: 59px;
    }

    #resume ul{
        line-height: 115%;
        margin-top: 0;
    }

    .resumeBold{
        font-size: 11.5pt;
        /* padding-bottom: 20px; */
    }

    .resumeSubheader{
        position: relative;
        top: 3px;
    }
    
    #resume ul .subBullets{
        font-size: 10pt;
        line-height: 150%;
    }


    #resume ul li{
        font-size: 11pt;
        line-height: 150%;
    }
    /*----------- Contact -----------*/
    /* #contact{
        height: 500px;
    } */
    
    #contactOutline{
        bottom: 430px;
        height: 400px;
    }

    #contactForm{
        padding: 20px 30px 40px 20px;
        left: 15px;
        bottom: 19px;
        height: 400px;
        justify-content: space-between;
    }

    #contactForm label {
        font-size: 12pt;
        margin-bottom: -25px;
    }    

    .formField{
        font-size: 9pt;
        margin: 0;
        padding: 5px;
        letter-spacing: 0;
    }

    #submitButton{
        font-size: 12pt;
        margin: 0;
        /* padding: 8px 4px; */
        width: 85px;
        height: 40px;
    }
    /* ------- Footer -------*/
    
    #footerOutline1{
        height: 120px;
        width: 90%;
        margin-left: -8px;
    }

    #footerOutline2{
        height: 123px;
        width: 100.2%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        padding: 20px 20px 25px 10px;
        box-sizing: border-box;
    }

    footer nav{
        width: auto;
        grid-template-columns: 50px 75px 53px 68px;
        grid-column-gap: 10px;
        margin-bottom: 5px;
    }

    footer nav a{
        font-size: 12pt;

    }

    #footerFullLogo{
        width: 175px;
    }

}

@media (max-width: 372px) {
    /*----------- Header -----------*/
    #navbar{
        width: 100%;
    }
    
    #menuIcon{
        width: 30px;
    }

    #headerFullLogo{
        width: 170px;
        /* display: none; */
    }

    #extraUnderline{
        top: 65px;
    }

    /*----------- splash box -----------*/
    .introWords{
        font-size: 16pt;
        letter-spacing: 0.7;
        top: -15px;
    }

    #splashList{
        font-size: 10pt;
        width: 80%;
        padding-left: 10px;
        margin: 75px 0 0 0;
    }

    #resume{
        width: 85%;
    }

    /*----------- Portfolio -----------*/
    .infoContainer{
        padding: 5%;
    }
    
    .projectTitle{
        font-size: 16pt;
        margin: 0 0 15px 0;
    }

    .langsList{
        font-size: 6pt;
        margin: 0 0 10px 0;
    }

    .projectDescription{
        margin: 0;
        font-size: 7pt;
    }

    /* .linkBox{
        padding: 1px 0;
    }

    .linkText{
        font-size: 7pt;
    } */

    .projects a{
        width: 14px;
        height: 18px;
    }

/*----------- About -----------*/
    #langs{
       width: 80%; 
    }    

    .stackWrapper{
        width: 100%;
    }

    
/*----------- FOOTER -----------*/

    #footerOutline1{
        height: 110px;
    }

    #footerOutline2{
        height: 113px;
    }

    footer nav{
        width: auto;
        grid-template-columns: 45px 65px 45px 56px;
        grid-column-gap: 7px;
        margin-bottom: 5px;
    }

    footer nav a{
        font-size: 10pt;

    }

}